body, html {
    padding:0;
    margin: 0;
    font-family: 'Lucida Sans', sans-serif;
}

/* HEADER */
.header {
    width: 100%;
    background: green;
    background: linear-gradient(90deg, #06165f 0%, #3c00bc 100%);
}

.header__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 20px;
    max-width: 1000px;
}

@media screen and (min-width: 385px) {
    .header__inner {
        justify-content: space-between;
        padding:0 20px;
    }
}

.header__logo {
    color: white; 
    
}

@media screen and (min-width: 355px) {
    .header__logo {
        margin-top: 20px;
    }
}

.header__btnGrp {}
.header__button {
    padding: 5px 10px;
    border-radius: 20px;
    border: 0;
}
.header__button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.header__button--submit {
    background: orange;
}
.header__button--signIn {
    background: green;
    color: white;
}

/* GENERAL */
.mainContainer {
    margin: auto;
}

/* SEARCH */
.search__wrapper {
    position: relative;
    max-width: 350px;
    width: 100%;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:100px 20px;
    background-color: #E8EAF6
}

.search__title {
    margin-bottom: 10px
}

.search__input{
    padding: 8px 30px 8px 8px; 
    border-radius: 20px;
    min-width: 300px;
    width: 100%;
    border: 1px solid lightgray;
}

.search__searchIcon{
    position: absolute;
    top: 5px;
    right: 10px;
}







/* FAQ */
.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    max-width: 1200px;
}
.faq__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    list-style-type: none; 
    padding: 20px;
}
.faq__list-item {
    min-height: 8rem;
    border-radius: 5px;
    width: 100%;    
    gap: 2rem;
    padding: 20px;
    border: 1px solid #ccc;

}

/* FOOTER */
.footer {
    padding: 20px;
    background: linear-gradient(90deg, #182848 0%, #3c00bc 100%);
}
.footer__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
